<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>340users</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>crudSeverlet</servlet-name>
    <servlet-class>servlet.CrudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crudSeverlet</servlet-name>
    <url-pattern>/servlet/crudServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteSeverlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSeverlet</servlet-name>
    <url-pattern>/serverLet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSeverlet</servlet-name>
    <servlet-class>servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSeverlet</servlet-name>
    <url-pattern>/servlet/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateSeverlet</servlet-name>
    <servlet-class>servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSeverlet</servlet-name>
    <url-pattern>/servlet/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchSeverlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchSeverlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>